// navbar
$navbar-height: 40px;
// home page
$intro-container-height: 280px;
$intro-width-percent: 80%;
$info-width-percent: calc(100% - $intro-width-percent);
// login page
$left-bar-width: 25%;
$bottom-bar-height: 0%;