@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 当像素值小于1024px时，页面发生响应式变化 */
@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */
}

body::-webkit-scrollbar {
  width: 0rem; /* 设置滚动条宽度 */
}